<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YE Stack</title>
</head>
<body>
    <div class="container">
        <form action="/addData" method="post">
            <input type="text" name="WebNum" placeholder="Enter number">
            <input type="submit" value="">
        </form>
    </div>
</body>
</html>