<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YEStack: Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-1">Results</h1>
    </div>
    <div class="container">
            <div class="row justify-content-center">
                    <div class="col-md-6">
                        <li>Your Phone Number: <%= phoneNumber %> </li>
                        <li>Number You Entered Via App: <%= appNum %> </li>
                        <li>Number You Entered Via Web: <%= webNum %> </li>
                    </div>
                    <div class="col-md-6">
                        <li>Sum = <%= sum %> </li>
                        <li>Difference = <%= diff %></li>
                        <p>Confirmation will be sent to Whatsapp and via SMS on your Number.</p>
                    </div>
                </div>
    </div>
    
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-firestore.js"></script>
    <script src="index.js"></script>
</body>
</html>